*{
    font-family: 'Creepster', cursive;
    color:green;
    background-color: black;
    font-size: 30px;
}
#mathbox {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center
}
#solved {
    margin: 0 }
#moobox {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center
}
